  <footer class="footer-area ">
      <div class="container">
          <div class="">
              <div id="logo" class="text-center pt-5">
                  <h1><a href="#" class="scrollto">Chandigarh<span>dial</span></a></h1>
              </div>
              <div class="social text-center pt-3 ">


                  <a href="https://www.facebook.com/AKASHDEEP8822/"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/akashpb07_/?hl=en"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.youtube.com/channel/UChURi3qyZPzzz5_287GHzFw"><i class="fa fa-youtube"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="https://github.com/Akashpb07"><i class="fa fa-github" aria-hidden="true"></i></a><br>
                  <a href="#"> Copyright ©2020 All rights reserved <span style="color:white;">Akashdeep</span></a>
              </div>

          </div>
      </div>
  </footer>