{% extends 'base.html' %}

{% block content %}
	<section class="ac-form">
		<div class="main-form">
			<div class="wrapper">
				<h1>Forgot Password?</h1>


				
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="main-bg">

						</div>
						<div class="bottom-content">
							<form action="resetpassword" method="post">
								 {% csrf_token %}
								<h5>Enter your email to get a password reset link</h5>
								<input type="email" name="email" class="input-form" placeholder="Your Email" required="required" />

								<div>
									{% for message in messages %}
									<h5 style="color:red"> {{message}}  </h5>
									{% endfor %}
						     	</div>
								
								<button type="submit" class="loginhny-btn btn">Send Mail</button>

							</form>
							<p>Not a member yet? <a href="register">Sign Up!</a></p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- //login-section -->


{% endblock %}